a{
	color: white;
}
a#fecha{
	font-size: 1.5em;
}
a#fecha:hover{
   background-color: #1b325f;
   color: white;	
}
header{
 background: url("../img/CabeceraA.png");	
}
header{
	background: url("../img/CabeceraA.png");	
}
section#OpcionesUser{
	background: #1b325f;	
}
nav#menuPrincipal{
	background: #4c7eb1;
}
